<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reddit Newsletter For Techies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

    <div class="header">
        <div class="grid-container">
            <img src="/images/audibene.png" alt="" class="left header-image" />
            <img src="/images/goodhearing.jpeg" alt="" class="right header-image" />
        </div>
        <div class="title">
            <h1>Reddit Newsletter</h1>
        </div>
    </div>

    <div class="content">
        <div name="greetings">
            <h1>Hello {{content.userName}}, </h1>    
            <h1>See yesterday’s top voted posts from your favorite channel  </h1>
        </div>
        <div class="posts">
            {{#each content.reddit}}
            <div>
                <div class="subreddit-header">
                    <h2>
                        {{this.channel}}: <a href={{this.url}} target="_blank">{{this.url}}</a>
                    </h2>
                </div>
                {{#each this.topPosts}}
                <div>
                    <div name="thumbnail">
                        {{#if this.thumbnail}}<img src={{this.thumbnail}} class="thumbnail">{{/if}}
                    </div>

                    <div class="post-details">
                        <div class="post-rating"><span class="rating-span">{{this.rating}}K</span></div>
                        <div class="post-title">{{this.title}} </div>                        
                    </div>                    
                    <hr>
                </div>    
                {{/each}}                                   
            </div>  
            {{/each}}        
        </div>
    </div>

    <div class="footer" hidden>
        <table class="footer">
            <tr>
                <td>
                    &reg; All Rights Reserved<br/>
                    <a href="#">Unsubscribe</a>
                </td>
                <td align="right">
                    <table>
                        <tr>
                            <td>
                                <a href="http://www.facebook.com/">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/tw.gif" alt="Twitter"/>
                                </a>
                            </td>
                            <td>
                                <a href="http://www.twitter.com/">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/fb.gif" alt="Facebook" />
                                </a>
                            </td>
                        </tr>
                    </table>   
                </td>
            </tr>
        </table>                                     
    </div>

</body>
</html>
